<!DOCTYPE css>   

 #table{
        width: 60em;
        background-color: black;
        color: blue;
        padding: 2em;
        text-align: center;
      }
      .number{
        width: 4em;
        display: inline-block;
      }
      .sorting{
        background-color: blue;
        color: white;
      }
